# Specific file and direcory of the project
*.csv
*.ecsv
*.fits
*.gif
*.png
*.png
data/
*.gif

# File and direcory Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
.venv/
venv/
.env/
env/

# Specifique file of `uv`
uv/
dist/
build/
*.whl
*.tar.gz
*.egg-info/

# Installed dependencies
pip-wheel-metadata/
site-packages/

# Log files and caches
logs/
*.log
.cache/

