# Specific file and direcory of the project
*.csv
*.ecsv
*.fits
*.gif
*.png
notebooks/comcam_ghosts/

# File and direcory Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
.venv/
venv/
.env/
env/

# Specifique file of `uv`
uv/
dist/
build/
*.whl
*.tar.gz
*.egg-info/

# Installed dependencies
pip-wheel-metadata/
site-packages/

# Log files and caches
logs/
*.log
.cache/

# Dossiers Sphinx
/docs/build/
/docs/source/modules.rst
/docs/source/*.pyc
/docs/source/*.pyo

# Fichiers Sphinx compilés
*.html
*.doctree
*.pickle

